In [2]:
import pandas as pd

In [64]:
df = pd.read_csv("Small.csv")

In [65]:
df["Complete Timestamp"] = pd.to_datetime(df["Complete Timestamp"])

In [66]:
df.columns = ["caseid", "activity", "ts", "variant", "variantindex"]

In [75]:
df_1 = pd.DataFrame()

In [76]:
df_1 = df[["caseid","activity","ts"]]

In [77]:
df_1.sort_values(by=["caseid","ts"],inplace = True)

C:\Users\l.marazzi\AppData\Local\Temp\ipykernel_19800\3881238973.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1.sort_values(by=["caseid","ts"],inplace = True)

In [78]:
df_2 = df_1.groupby(["caseid"]).agg(list).reset_index()[["caseid","ts"]]

In [82]:
df_2["duration"] = df_2["ts"].map(lambda x: x[-1]-x[0])
df_2["event_number"] = df_2["ts"].map(lambda x: len(x))

In [88]:
df_2.sort_values(by="duration").iloc[0:1]

,caseid,ts,duration,event_number
0,case_0,"[1970-01-01 09:00:00, 1970-01-01 10:00:00, 197...",0 days 06:00:00,7

In [89]:
df_2.sort_values(by="duration").iloc[-2:-1]

,caseid,ts,duration,event_number
7135,case_517,"[1970-01-01 09:00:00, 1970-01-01 10:00:00, 197...",0 days 09:00:00,10

In [90]:
df_2.sort_values(by="event_number").iloc[-2:-1]

,caseid,ts,duration,event_number
7135,case_517,"[1970-01-01 09:00:00, 1970-01-01 10:00:00, 197...",0 days 09:00:00,10