In [3]:
import pandas as pd

In [30]:
df = pd.read_csv("hospital_billing.csv")

In [31]:
df["timestamp"] = pd.to_datetime(df["timestamp"])

In [32]:
df = df[["case_id","activity","timestamp"]]

In [33]:
df.columns = ["caseid","activity", "ts"]

In [34]:
df_1 = pd.DataFrame()

In [35]:
df_1 = df[["caseid","activity","ts"]]

In [36]:
df_1.sort_values(by=["caseid","ts"],inplace = True)

In [37]:
df_2 = df_1.groupby(["caseid"]).agg(list).reset_index()[["caseid","ts"]]

In [38]:
df_2["duration"] = df_2["ts"].map(lambda x: x[-1]-x[0])
df_2["event_number"] = df_2["ts"].map(lambda x: len(x))

In [39]:
df_2.sort_values(by="duration").iloc[0:1]

     caseid                     ts duration  event_number
4999    MZH  [2013-02-11 22:56:02]   0 days             1

In [40]:
df_2.sort_values(by="duration").iloc[-2:-1]

,caseid,ts,duration,event_number
1302,DJK,"[2013-03-30 21:14:50, 2014-03-31 23:41:29, 201...",987 days 16:40:25,6

In [41]:
df_2.sort_values(by="event_number").iloc[-2:-1]

,caseid,ts,duration,event_number
234,APH,"[2013-03-15 20:05:15, 2013-03-15 20:05:16, 201...",37 days 00:36:43,176