In [1]:
import pandas as pd

Import an event log (csv format only) as a pandas dataframe

In [2]:
df = pd.read_csv("Small.csv")

In [3]:
df["Complete Timestamp"] = pd.to_datetime(df["Complete Timestamp"])

Rename the attributes as “caseid, activity, ts” if names are different (ts is for timestamp!)

In [4]:
df.columns = ["caseid", "activity", "ts", "variant", "variantindex"]

Create a new dataframe with columns caseid, list of events in a case (ordered by timestamp)

In [9]:
df_1 = pd.DataFrame()
df_1 = df[["caseid","activity","ts"]].copy()
df_1.sort_values(by=["caseid","ts"],inplace = True)

In [10]:
df_1.head()

        caseid    activity                  ts
109049  case_0  Activity A 1970-01-01 09:00:00
109050  case_0  Activity B 1970-01-01 10:00:00
109051  case_0  Activity C 1970-01-01 11:00:00
109052  case_0  Activity D 1970-01-01 12:00:00
109053  case_0  Activity E 1970-01-01 13:00:00

Augment the event log created at 4 with two new attributes: duration, event_number duration = ts(last event in case) - ts(first event in case)

Event_number: number of events in a case

In [78]:
df_2 = df_1.groupby(["caseid"]).agg(list).reset_index()[["caseid","ts"]]

df_2["duration"] = df_2["ts"].map(lambda x: x[-1]-x[0])
df_2["event_number"] = df_2["ts"].map(lambda x: len(x))

Find the longest/shortest case by duration - duration = ts(last event in case) - ts(first event in case)

In [88]:
df_2.sort_values(by="duration").iloc[0:1]

,caseid,ts,duration,event_number
0,case_0,"[1970-01-01 09:00:00, 1970-01-01 10:00:00, 197...",0 days 06:00:00,7

In [89]:
df_2.sort_values(by="duration").iloc[-2:-1]

,caseid,ts,duration,event_number
7135,case_517,"[1970-01-01 09:00:00, 1970-01-01 10:00:00, 197...",0 days 09:00:00,10

Find the longest case(s) by number of events

In [ ]:
df_2.sort_values(by="event_number").iloc[-2:-1]