In [1]:
import pandas as pd

Import an event log (csv format only) as a pandas dataframe

In [2]:
df = pd.read_csv("hospital_billing.csv")

In [3]:
df["timestamp"] = pd.to_datetime(df["timestamp"])

Rename the attributes as “caseid, activity, ts” if names are different (ts is for timestamp!)

In [4]:
df = df[["case_id","activity","timestamp"]]
df.columns = ["caseid","activity", "ts"]

Create a new dataframe with columns caseid, list of events in a case (ordered by timestamp)

In [5]:
df_1 = pd.DataFrame()
df_1 = df[["caseid","activity","ts"]]
df_1.sort_values(by=["caseid","ts"],inplace = True)
df_1.head()

  caseid activity                  ts
0      A      NEW 2012-12-16 19:33:10
1      A      FIN 2013-12-15 19:00:37
2      A  RELEASE 2013-12-16 03:53:38
3      A  CODE OK 2013-12-17 12:56:29
4      A   BILLED 2013-12-19 03:44:31

Augment the event log created at 4 with two new attributes: duration, event_number duration = ts(last event in case) - ts(first event in case)

Event_number: number of events in a case

In [7]:
df_2 = df_1.groupby(["caseid"]).agg(list).reset_index()[["caseid","ts"]]
df_2["duration"] = df_2["ts"].map(lambda x: x[-1]-x[0])
df_2["event_number"] = df_2["ts"].map(lambda x: len(x))

Find the longest/shortest case by duration - duration = ts(last event in case) - ts(first event in case)

In [8]:
df_2.sort_values(by="duration").iloc[0:1]

     caseid                     ts duration  event_number
4999    MZH  [2013-02-11 22:56:02]   0 days             1

In [9]:
df_2.sort_values(by="duration").iloc[-2:-1]

,caseid,ts,duration,event_number
1302,DJK,"[2013-03-30 21:14:50, 2014-03-31 23:41:29, 201...",987 days 16:40:25,6

Find the longest case(s) by number of events

In [10]:
df_2.sort_values(by="event_number").iloc[-2:-1]

,caseid,ts,duration,event_number
234,APH,"[2013-03-15 20:05:15, 2013-03-15 20:05:16, 201...",37 days 00:36:43,176