pazi koju verziju koristiš za pip, moras točno u decimalu napisat

In [4]:
!pip3.11 install plotly

Collecting plotly
  Using cached plotly-5.18.0-py3-none-any.whl.metadata (7.0 kB)
Collecting tenacity>=6.2.0 (from plotly)
  Using cached tenacity-8.2.3-py3-none-any.whl.metadata (1.0 kB)
Requirement already satisfied: packaging in /Users/anadrmic/Library/Python/3.11/lib/python/site-packages (from plotly) (23.0)
Using cached plotly-5.18.0-py3-none-any.whl (15.6 MB)
Using cached tenacity-8.2.3-py3-none-any.whl (24 kB)
Installing collected packages: tenacity, plotly
Successfully installed plotly-5.18.0 tenacity-8.2.3

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: pip3.11 install --upgrade pip

In [7]:
!pip3.11 install pandas_profiling

Collecting pandas_profiling
  Downloading pandas_profiling-3.2.0-py2.py3-none-any.whl (262 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 262.6/262.6 kB 1.4 MB/s eta 0:00:00a 0:00:01
Collecting joblib~=1.1.0 (from pandas_profiling)
  Downloading joblib-1.1.1-py2.py3-none-any.whl (309 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 309.8/309.8 kB 1.3 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: scipy>=1.4.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas_profiling) (1.11.3)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas_profiling) (1.5.3)
Requirement already satisfied: matplotlib>=3.2.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas_profiling) (3.7.1)
Collecting pydantic>=1.8.1 (from pandas_profiling)
  Downloading pydantic-2.5.3-py3-none-any.whl.metadata (65 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 65.6/65.6 kB 1.0 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: PyYAML>=5.0.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas_profiling) (6.0.1)
Requirement already satisfied: jinja2>=2.11.1 in /Users/anadrmic/Library/Python/3.11/lib/python/site-packages (from pandas_profiling) (3.1.2)
Requirement already satisfied: markupsafe~=2.1.1 in /Users/anadrmic/Library/Python/3.11/lib/python/site-packages (from pandas_profiling) (2.1.2)
Collecting visions==0.7.4 (from visions[type_image_path]==0.7.4->pandas_profiling)
  Downloading visions-0.7.4-py3-none-any.whl (102 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 102.4/102.4 kB 1.4 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: numpy>=1.16.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas_profiling) (1.23.5)
Collecting htmlmin>=0.1.12 (from pandas_profiling)
  Downloading htmlmin-0.1.12.tar.gz (19 kB)
  Preparing metadata (setup.py) ... done
Collecting missingno>=0.4.2 (from pandas_profiling)
  Downloading missingno-0.5.2-py3-none-any.whl (8.7 kB)
Collecting phik>=0.11.1 (from pandas_profiling)
  Downloading phik-0.12.3-cp311-cp311-macosx_11_0_arm64.whl (649 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 649.9/649.9 kB 1.5 MB/s eta 0:00:00a 0:00:01
Collecting tangled-up-in-unicode==0.2.0 (from pandas_profiling)
  Downloading tangled_up_in_unicode-0.2.0-py3-none-any.whl (4.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.7/4.7 MB 1.4 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: requests>=2.24.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas_profiling) (2.28.2)
Requirement already satisfied: tqdm>=4.48.2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas_profiling) (4.66.1)
Requirement already satisfied: seaborn>=0.10.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas_profiling) (0.12.2)
Collecting multimethod>=1.4 (from pandas_profiling)
  Downloading multimethod-1.10-py3-none-any.whl.metadata (8.2 kB)
Requirement already satisfied: attrs>=19.3.0 in /Users/anadrmic/Library/Python/3.11/lib/python/site-packages (from visions==0.7.4->visions[type_image_path]==0.7.4->pandas_profiling) (22.2.0)
Requirement already satisfied: networkx>=2.4 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from visions==0.7.4->visions[type_image_path]==0.7.4->pandas_profiling) (3.2.1)
Collecting imagehash (from visions[type_image_path]==0.7.4->pandas_profiling)
  Downloading ImageHash-4.3.1-py2.py3-none-any.whl (296 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 296.5/296.5 kB 1.5 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: Pillow in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from visions[type_image_path]==0.7.4->pandas_profiling) (9.4.0)
Requirement already satisfied: contourpy>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from matplotlib>=3.2.0->pandas_profiling) (1.0.7)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from matplotlib>=3.2.0->pandas_profiling) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from matplotlib>=3.2.0->pandas_profiling) (4.39.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from matplotlib>=3.2.0->pandas_profiling) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /Users/anadrmic/Library/Python/3.11/lib/python/site-packages (from matplotlib>=3.2.0->pandas_profiling) (23.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from matplotlib>=3.2.0->pandas_profiling) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /Users/anadrmic/Library/Python/3.11/lib/python/site-packages (from matplotlib>=3.2.0->pandas_profiling) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas_profiling) (2022.7.1)
Collecting annotated-types>=0.4.0 (from pydantic>=1.8.1->pandas_profiling)
  Downloading annotated_types-0.6.0-py3-none-any.whl.metadata (12 kB)
Collecting pydantic-core==2.14.6 (from pydantic>=1.8.1->pandas_profiling)
  Downloading pydantic_core-2.14.6-cp311-cp311-macosx_11_0_arm64.whl.metadata (6.5 kB)
Requirement already satisfied: typing-extensions>=4.6.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pydantic>=1.8.1->pandas_profiling) (4.8.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests>=2.24.0->pandas_profiling) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in /Users/anadrmic/Library/Python/3.11/lib/python/site-packages (from requests>=2.24.0->pandas_profiling) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests>=2.24.0->pandas_profiling) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests>=2.24.0->pandas_profiling) (2022.12.7)
Requirement already satisfied: six>=1.5 in /Users/anadrmic/Library/Python/3.11/lib/python/site-packages (from python-dateutil>=2.7->matplotlib>=3.2.0->pandas_profiling) (1.16.0)
Requirement already satisfied: PyWavelets in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from imagehash->visions[type_image_path]==0.7.4->pandas_profiling) (1.4.1)
Downloading multimethod-1.10-py3-none-any.whl (9.9 kB)
Downloading pydantic-2.5.3-py3-none-any.whl (381 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 381.9/381.9 kB 1.6 MB/s eta 0:00:0000:0100:01
Downloading pydantic_core-2.14.6-cp311-cp311-macosx_11_0_arm64.whl (1.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 912.0 kB/s eta 0:00:0000:0100:01
Downloading annotated_types-0.6.0-py3-none-any.whl (12 kB)
Building wheels for collected packages: htmlmin
  Building wheel for htmlmin (setup.py) ... done
  Created wheel for htmlmin: filename=htmlmin-0.1.12-py3-none-any.whl size=27081 sha256=5a80f03a6228e5e8758ffd6865b4323f14d2428043434d0afb4987a07c5dc260
  Stored in directory: /Users/anadrmic/Library/Caches/pip/wheels/8d/55/1a/19cd535375ed1ede0c996405ebffe34b196d78e2d9545723a2
Successfully built htmlmin
Installing collected packages: htmlmin, tangled-up-in-unicode, pydantic-core, multimethod, joblib, annotated-types, pydantic, imagehash, visions, phik, missingno, pandas_profiling
  Attempting uninstall: joblib
    Found existing installation: joblib 1.2.0
    Uninstalling joblib-1.2.0:
      Successfully uninstalled joblib-1.2.0
Successfully installed annotated-types-0.6.0 htmlmin-0.1.12 imagehash-4.3.1 joblib-1.1.1 missingno-0.5.2 multimethod-1.10 pandas_profiling-3.2.0 phik-0.12.3 pydantic-2.5.3 pydantic-core-2.14.6 tangled-up-in-unicode-0.2.0 visions-0.7.4

[notice] A new release of pip is available: 23.3.1 -> 23.3.2
[notice] To update, run: pip3.11 install --upgrade pip

In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import plotly.io as pio
import plotly.express as px
import plotly.graph_objects as go
#from pandas_profiling import ProfileReport
from pandas.plotting import scatter_matrix
import pm4py
from pm4py.objects.log.util.log import project_traces
from pm4py.objects.log.util import interval_lifecycle

In [2]:
# function to print any trace (index) from log
def print_nth(log, index):
    print(str(project_traces(log)[index]))

In [3]:
offer_df = pd.read_csv("data/Sampled_BPIC17_offer_log.csv")
input = {
    "Case ID" : "caseid",
    "Activity" : "activity" ,
    "Reouce" : "resource" ,
    "Complete Timestamp": "ts",
    "(case) Accepted" : "y"  
}
offer_df.rename(columns=input,inplace = True)

trace_log = pm4py.format_dataframe(offer_df, case_id='caseid', activity_key='EventID', timestamp_key='ts')
trace_log = pm4py.convert_to_event_log(trace_log)

In [15]:
trace_log

[{'attributes': {'concept:name': 'Offer_1000681710'}, 'events': [{'index': 14554, 'caseid': 'Offer_1000681710', 'activity': 'O_Create Offer', 'Resource': 'User_20', 'ts': Timestamp('2016-02-02 18:24:54.170000+0000', tz='UTC'), 'Variant': 'Variant 2', 'Variant index': 2, 'y': True, '(case) ApplicationID': 'Application_2131314372', '(case) CreditScore': 956, '(case) FirstWithdrawalAmount': 14500.0, '(case) MonthlyCost': 200.0, '(case) NumberOfTerms': 96, '(case) OfferedAmount': 16000.0, '(case) Selected': True, 'Action': 'Created', 'EventID': 'Offer_1000681710', 'EventOrigin': 'Offer', 'OfferID': nan, 'lifecycle:transition': 'complete', 'concept:name': 'Offer_1000681710', 'time:timestamp': Timestamp('2016-02-02 18:24:54.170000+0000', tz='UTC'), '@@index': 0, '@@case_index': 0}, '..', {'index': 14558, 'caseid': 'Offer_1000681710', 'activity': 'O_Accepted', 'Resource': 'User_115', 'ts': Timestamp('2016-02-10 00:55:41.368000+0000', tz='UTC'), 'Variant': 'Variant 2', 'Variant index': 2, 'y': True, '(case) ApplicationID': 'Application_2131314372', '(case) CreditScore': 956, '(case) FirstWithdrawalAmount': 14500.0, '(case) MonthlyCost': 200.0, '(case) NumberOfTerms': 96, '(case) OfferedAmount': 16000.0, '(case) Selected': True, 'Action': 'statechange', 'EventID': 'OfferState_983793285', 'EventOrigin': 'Offer', 'OfferID': 'Offer_1000681710', 'lifecycle:transition': 'complete', 'concept:name': 'OfferState_983793285', 'time:timestamp': Timestamp('2016-02-10 00:55:41.368000+0000', tz='UTC'), '@@index': 4, '@@case_index': 0}]}, '....', {'attributes': {'concept:name': 'Offer_997411923'}, 'events': [{'index': 34, 'caseid': 'Offer_997411923', 'activity': 'O_Create Offer', 'Resource': 'User_19', 'ts': Timestamp('2016-01-02 20:25:44.202000+0000', tz='UTC'), 'Variant': 'Variant 2', 'Variant index': 2, 'y': True, '(case) ApplicationID': 'Application_428409768', '(case) CreditScore': 1059, '(case) FirstWithdrawalAmount': 15000.0, '(case) MonthlyCost': 158.98, '(case) NumberOfTerms': 120, '(case) OfferedAmount': 15000.0, '(case) Selected': True, 'Action': 'Created', 'EventID': 'Offer_997411923', 'EventOrigin': 'Offer', 'OfferID': nan, 'lifecycle:transition': 'complete', 'concept:name': 'Offer_997411923', 'time:timestamp': Timestamp('2016-01-02 20:25:44.202000+0000', tz='UTC'), '@@index': 22404, '@@case_index': 4999}, '..', {'index': 38, 'caseid': 'Offer_997411923', 'activity': 'O_Accepted', 'Resource': 'User_90', 'ts': Timestamp('2016-01-14 16:00:14.440000+0000', tz='UTC'), 'Variant': 'Variant 2', 'Variant index': 2, 'y': True, '(case) ApplicationID': 'Application_428409768', '(case) CreditScore': 1059, '(case) FirstWithdrawalAmount': 15000.0, '(case) MonthlyCost': 158.98, '(case) NumberOfTerms': 120, '(case) OfferedAmount': 15000.0, '(case) Selected': True, 'Action': 'statechange', 'EventID': 'OfferState_892473715', 'EventOrigin': 'Offer', 'OfferID': 'Offer_997411923', 'lifecycle:transition': 'complete', 'concept:name': 'OfferState_892473715', 'time:timestamp': Timestamp('2016-01-14 16:00:14.440000+0000', tz='UTC'), '@@index': 22408, '@@case_index': 4999}]}]

In [18]:
offer_df.shape

(22409, 23)

In [17]:
# number of distinct trace variants
len(pm4py.get_variants_as_tuples(trace_log))

5000

In [21]:
# print 1st trace
print_nth(trace_log, 0)

['Offer_1000681710', 'OfferState_452902905', 'OfferState_256930279', 'OfferState_139676846', 'OfferState_983793285']

In [4]:
df = pm4py.convert_to_dataframe(trace_log)
df.head(5)

,index,caseid,activity,Resource,ts,Variant,Variant index,y,(case) ApplicationID,(case) CreditScore,...,Action,EventID,EventOrigin,OfferID,lifecycle:transition,concept:name,time:timestamp,@@index,@@case_index,case:concept:name
0,14554,Offer_1000681710,O_Create Offer,User_20,2016-02-02 18:24:54.170000+00:00,Variant 2,2,True,Application_2131314372,956,...,Created,Offer_1000681710,Offer,NaN,complete,Offer_1000681710,2016-02-02 18:24:54.170000+00:00,0,0,Offer_1000681710
1,14555,Offer_1000681710,O_Created,User_20,2016-02-02 18:24:55.833000+00:00,Variant 2,2,True,Application_2131314372,956,...,statechange,OfferState_452902905,Offer,Offer_1000681710,complete,OfferState_452902905,2016-02-02 18:24:55.833000+00:00,1,0,Offer_1000681710
2,14556,Offer_1000681710,O_Sent (mail and online),User_20,2016-02-02 18:25:14.889000+00:00,Variant 2,2,True,Application_2131314372,956,...,statechange,OfferState_256930279,Offer,Offer_1000681710,complete,OfferState_256930279,2016-02-02 18:25:14.889000+00:00,2,0,Offer_1000681710
3,14557,Offer_1000681710,O_Returned,User_117,2016-02-09 22:36:31.755000+00:00,Variant 2,2,True,Application_2131314372,956,...,statechange,OfferState_139676846,Offer,Offer_1000681710,complete,OfferState_139676846,2016-02-09 22:36:31.755000+00:00,3,0,Offer_1000681710
4,14558,Offer_1000681710,O_Accepted,User_115,2016-02-10 00:55:41.368000+00:00,Variant 2,2,True,Application_2131314372,956,...,statechange,OfferState_983793285,Offer,Offer_1000681710,complete,OfferState_983793285,2016-02-10 00:55:41.368000+00:00,4,0,Offer_1000681710

In [8]:
offer_df

,index,caseid,activity,Resource,ts,Variant,Variant index,y,(case) ApplicationID,(case) CreditScore,...,(case) OfferedAmount,(case) Selected,Action,EventID,EventOrigin,OfferID,lifecycle:transition,case:concept:name,concept:name,time:timestamp
0,0,Offer_247135719,O_Create Offer,User_17,2016-01-02 18:17:05.720000+00:00,Variant 8,8,True,Application_196483749,0,...,10000.0,False,Created,Offer_247135719,Offer,NaN,complete,Offer_247135719,Offer_247135719,2016-01-02 18:17:05.720000+00:00
1,1,Offer_247135719,O_Created,User_17,2016-01-02 18:17:08.762000+00:00,Variant 8,8,True,Application_196483749,0,...,10000.0,False,statechange,OfferState_124849367,Offer,Offer_247135719,complete,Offer_247135719,OfferState_124849367,2016-01-02 18:17:08.762000+00:00
2,2,Offer_247135719,O_Sent (online only),User_17,2016-01-02 18:19:21.330000+00:00,Variant 8,8,True,Application_196483749,0,...,10000.0,False,statechange,OfferState_440662877,Offer,Offer_247135719,complete,Offer_247135719,OfferState_440662877,2016-01-02 18:19:21.330000+00:00
3,3,Offer_247135719,O_Cancelled,User_17,2016-01-02 18:21:26.034000+00:00,Variant 8,8,True,Application_196483749,0,...,10000.0,False,statechange,OfferState_591416028,Offer,Offer_247135719,complete,Offer_247135719,OfferState_591416028,2016-01-02 18:21:26.034000+00:00
4,4,Offer_941964966,O_Create Offer,User_17,2016-01-02 18:21:42.022000+00:00,Variant 1,1,True,Application_196483749,0,...,10000.0,False,Created,Offer_941964966,Offer,NaN,complete,Offer_941964966,Offer_941964966,2016-01-02 18:21:42.022000+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22404,22404,Offer_1064426652,O_Create Offer,User_23,2016-02-18 22:50:01.446000+00:00,Variant 2,2,True,Application_1574359134,767,...,6000.0,True,Created,Offer_1064426652,Offer,NaN,complete,Offer_1064426652,Offer_1064426652,2016-02-18 22:50:01.446000+00:00
22405,22405,Offer_1064426652,O_Created,User_23,2016-02-18 22:50:02.655000+00:00,Variant 2,2,True,Application_1574359134,767,...,6000.0,True,statechange,OfferState_189916093,Offer,Offer_1064426652,complete,Offer_1064426652,OfferState_189916093,2016-02-18 22:50:02.655000+00:00
22406,22406,Offer_1064426652,O_Sent (mail and online),User_23,2016-02-18 22:50:22.174000+00:00,Variant 2,2,True,Application_1574359134,767,...,6000.0,True,statechange,OfferState_24747308,Offer,Offer_1064426652,complete,Offer_1064426652,OfferState_24747308,2016-02-18 22:50:22.174000+00:00
22407,22407,Offer_1064426652,O_Returned,User_117,2016-02-29 19:08:56.200000+00:00,Variant 2,2,True,Application_1574359134,767,...,6000.0,True,statechange,OfferState_1809485991,Offer,Offer_1064426652,complete,Offer_1064426652,OfferState_1809485991,2016-02-29 19:08:56.200000+00:00
22408,22408,Offer_1064426652,O_Accepted,User_102,2016-02-29 23:43:45.831000+00:00,Variant 2,2,True,Application_1574359134,767,...,6000.0,True,statechange,OfferState_880267349,Offer,Offer_1064426652,complete,Offer_1064426652,OfferState_880267349,2016-02-29 23:43:45.831000+00:00

In [10]:
import function

In [11]:
offer_df["ts"] = pd.to_datetime(offer_df["ts"])

offer_df["dt"] = function.dt(offer_df)

offer_df.head()

,index,caseid,activity,Resource,ts,Variant,Variant index,y,(case) ApplicationID,(case) CreditScore,...,(case) Selected,Action,EventID,EventOrigin,OfferID,lifecycle:transition,case:concept:name,concept:name,time:timestamp,dt
0,0,Offer_247135719,O_Create Offer,User_17,2016-01-02 18:17:05.720000+00:00,Variant 8,8,True,Application_196483749,0,...,False,Created,Offer_247135719,Offer,NaN,complete,Offer_247135719,Offer_247135719,2016-01-02 18:17:05.720000+00:00,0 days 00:00:03.042000
1,1,Offer_247135719,O_Created,User_17,2016-01-02 18:17:08.762000+00:00,Variant 8,8,True,Application_196483749,0,...,False,statechange,OfferState_124849367,Offer,Offer_247135719,complete,Offer_247135719,OfferState_124849367,2016-01-02 18:17:08.762000+00:00,0 days 00:02:12.568000
2,2,Offer_247135719,O_Sent (online only),User_17,2016-01-02 18:19:21.330000+00:00,Variant 8,8,True,Application_196483749,0,...,False,statechange,OfferState_440662877,Offer,Offer_247135719,complete,Offer_247135719,OfferState_440662877,2016-01-02 18:19:21.330000+00:00,0 days 00:02:04.704000
3,3,Offer_247135719,O_Cancelled,User_17,2016-01-02 18:21:26.034000+00:00,Variant 8,8,True,Application_196483749,0,...,False,statechange,OfferState_591416028,Offer,Offer_247135719,complete,Offer_247135719,OfferState_591416028,2016-01-02 18:21:26.034000+00:00,0 days 00:02:04.704000
4,4,Offer_941964966,O_Create Offer,User_17,2016-01-02 18:21:42.022000+00:00,Variant 1,1,True,Application_196483749,0,...,False,Created,Offer_941964966,Offer,NaN,complete,Offer_941964966,Offer_941964966,2016-01-02 18:21:42.022000+00:00,0 days 00:00:01.551000

In [12]:
percent_missing = offer_df.isnull().sum() * 100 / len(offer_df)
missing_value_df = pd.DataFrame({'column_name': offer_df.columns,
                                 'percent_missing': percent_missing})

miss_ls = list(percent_missing[percent_missing>30].keys())

In [14]:
miss_ls

[]

## Adding Time features

In [15]:
# adding month and year as feature
offer_df['year'] = offer_df['ts'].dt.year
offer_df['month'] = offer_df['ts'].dt.month

In [16]:
# converting dataframe to event log
trace_log = pm4py.format_dataframe(offer_df, case_id='caseid', activity_key='EventID', timestamp_key='ts')
trace_log = pm4py.convert_to_event_log(trace_log)

In [17]:
# adding lead and waiting time
# @@approx_bh_partial_lead_time	- Incremental lead time associated to the event
# @@approx_bh_overall_wasted_time - Difference between the partial lead time and the partial cycle time values (for us same as above, as no cylce time for us)
# @@approx_bh_this_wasted_time -	Wasted time ONLY with regards to the activity described by the ‘interval’ even (time difference between activities)
trace_log = interval_lifecycle.assign_lead_cycle_time(trace_log)

In [18]:
# To extract target varaible, 
declerations = []
for trace in trace_log:
    flag = False
    for i,event in enumerate(trace):
        if "False" in event['y']:
            flag = True
            break
    
    if flag:
        declerations.append(1)
    else:
        declerations.append(0)

TypeError: argument of type 'bool' is not iterable

In [19]:
# convert logs to dataframe
df = pm4py.convert_to_dataframe(trace_log)
df.head()

,index,caseid,activity,Resource,ts,Variant,Variant index,y,(case) ApplicationID,(case) CreditScore,...,@@case_index,start_timestamp,time:timestamp,@@duration,@@approx_bh_partial_cycle_time,@@approx_bh_partial_lead_time,@@approx_bh_overall_wasted_time,@@approx_bh_this_wasted_time,@approx_bh_ratio_cycle_lead_time,case:concept:name
0,14554,Offer_1000681710,O_Create Offer,User_20,2016-02-02 18:24:54.170000+00:00,Variant 2,2,True,Application_2131314372,956,...,0,2016-02-02 18:24:54.170000+00:00,2016-02-02 18:24:54.170000+00:00,0.0,0.0,0.0,0.0,0.0,1.0,Offer_1000681710
1,14555,Offer_1000681710,O_Created,User_20,2016-02-02 18:24:55.833000+00:00,Variant 2,2,True,Application_2131314372,956,...,0,2016-02-02 18:24:55.833000+00:00,2016-02-02 18:24:55.833000+00:00,0.0,0.0,0.0,0.0,0.0,1.0,Offer_1000681710
2,14556,Offer_1000681710,O_Sent (mail and online),User_20,2016-02-02 18:25:14.889000+00:00,Variant 2,2,True,Application_2131314372,956,...,0,2016-02-02 18:25:14.889000+00:00,2016-02-02 18:25:14.889000+00:00,0.0,0.0,0.0,0.0,0.0,1.0,Offer_1000681710
3,14557,Offer_1000681710,O_Returned,User_117,2016-02-09 22:36:31.755000+00:00,Variant 2,2,True,Application_2131314372,956,...,0,2016-02-09 22:36:31.755000+00:00,2016-02-09 22:36:31.755000+00:00,0.0,0.0,180000.0,180000.0,180000.0,0.0,Offer_1000681710
4,14558,Offer_1000681710,O_Accepted,User_115,2016-02-10 00:55:41.368000+00:00,Variant 2,2,True,Application_2131314372,956,...,0,2016-02-10 00:55:41.368000+00:00,2016-02-10 00:55:41.368000+00:00,0.0,0.0,180000.0,180000.0,0.0,0.0,Offer_1000681710

### Cheking data types

In [20]:
# check type and correct if needed
df.dtypes

index                                             int64
caseid                                           object
activity                                         object
Resource                                         object
ts                                  datetime64[ns, UTC]
Variant                                          object
Variant index                                     int64
y                                                  bool
(case) ApplicationID                             object
(case) CreditScore                                int64
(case) FirstWithdrawalAmount                    float64
(case) MonthlyCost                              float64
(case) NumberOfTerms                              int64
(case) OfferedAmount                            float64
(case) Selected                                    bool
Action                                           object
EventID                                          object
EventOrigin                                      object
OfferID                                          object
dt                                      timedelta64[ns]
year                                              int64
month                                             int64
concept:name                                     object
@@index                                           int64
@@case_index                                      int64
start_timestamp                     datetime64[ns, UTC]
time:timestamp                      datetime64[ns, UTC]
@@duration                                      float64
@@approx_bh_partial_cycle_time                  float64
@@approx_bh_partial_lead_time                   float64
@@approx_bh_overall_wasted_time                 float64
@@approx_bh_this_wasted_time                    float64
@approx_bh_ratio_cycle_lead_time                float64
case:concept:name                                object
dtype: object

In [21]:
num_columns = df.select_dtypes(include='number')
num_columns.columns

Index(['index', 'Variant index', '(case) CreditScore',
       '(case) FirstWithdrawalAmount', '(case) MonthlyCost',
       '(case) NumberOfTerms', '(case) OfferedAmount', 'dt', 'year', 'month',
       '@@index', '@@case_index', '@@duration',
       '@@approx_bh_partial_cycle_time', '@@approx_bh_partial_lead_time',
       '@@approx_bh_overall_wasted_time', '@@approx_bh_this_wasted_time',
       '@approx_bh_ratio_cycle_lead_time'],
      dtype='object')